<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.ant.xunyee.mapper.XunyeeBlogReadHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tobi.ant.xunyee.entity.XunyeeBlogReadHistory">
        <id column="id" property="id" />
        <result column="blog_id" property="blog_id" />
        <result column="vcuser_id" property="vcuser_id" />
        <result column="read_count" property="read_count" />
        <result column="updated" property="updated" />
        <result column="created" property="created" />
    </resultMap>

</mapper>
