<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.ant.xunyee.mapper.XunyeeVcuserBenefitRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tobi.ant.xunyee.entity.XunyeeVcuserBenefitRefund">
        <id column="id" property="id" />
        <result column="vcuser_id" property="vcuser_id" />
        <result column="transaction_id" property="transaction_id" />
        <result column="out_trade_no" property="out_trade_no" />
        <result column="start_date" property="start_date" />
        <result column="created" property="created" />
        <result column="status" property="status" />
        <result column="price" property="price" />
    </resultMap>

</mapper>
