<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.ant.vdata.mapper.VdataSpiderZySotrendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tobi.ant.vdata.entity.VdataSpiderZySotrend">
        <id column="id" property="id" />
        <result column="zy_sotrend" property="zy_sotrend" />
        <result column="data_time" property="data_time" />
        <result column="rank_raw" property="rank_raw" />
        <result column="rank_corr" property="rank_corr" />
        <result column="hot_value_raw" property="hot_value_raw" />
        <result column="hot_value_corr" property="hot_value_corr" />
        <result column="search_index_raw" property="search_index_raw" />
        <result column="search_index_corr" property="search_index_corr" />
        <result column="media_index_raw" property="media_index_raw" />
        <result column="media_index_corr" property="media_index_corr" />
        <result column="trend" property="trend" />
        <result column="spider" property="spider" />
        <result column="oper_user" property="oper_user" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
