<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.ant.vdata.mapper.VdataSpiderZyBaidutopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.tobi.ant.vdata.entity.VdataSpiderZyBaidutop">
        <id column="id" property="id" />
        <result column="zy_baidutop" property="zy_baidutop" />
        <result column="data_time" property="data_time" />
        <result column="search_index_raw" property="search_index_raw" />
        <result column="search_index_corr" property="search_index_corr" />
        <result column="search_index_rank" property="search_index_rank" />
        <result column="trend" property="trend" />
        <result column="spider" property="spider" />
        <result column="oper_user" property="oper_user" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
